{% extends 'events/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="shadow p-4 md-5 bg-body rounded">
    <center>
    <h2>Add Venue To Database</h2><br><br>
    <strong>ID : {{ user.id }}</strong><br><br>
    {% if submitted %}
    
        Congratualitions ! Your Venue was submitted Sucessfully.

    {% else %}

        <form action='' method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit" class="btn btn-info">
        </form>

    {% endif %}
    </center>
</div><br><br>
{% else %}
    <div class="alert alert-danger" role="alert">
        Sorry! You Must Be Logged In To View This Page...
    </div>
    <a href="{% url 'login' %}">Login Here</a>
{% endif %}
{% endblock %}